@media (min-width: 1200px){
    #bar {
    font-family: Averia Libre;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 29px;
    }
    #bargaleri {
        font-family: Averia Libre;
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 29px;
    }
    .judul {
        font-family: Averia Libre;
        font-style: italic;
        font-weight: bold;
        font-size: 3rem;
        line-height: 25px;
        margin-top: 4rem;
    }
    .gambar {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-top: 0.5cm;
    }
    #foto {
        border-radius: 60%;
        width: 100%;
        width: 276px;
        height: 285px;
    }
    #panah {
        background: #FFBB6B;
        backdrop-filter: blur(4px);
        margin-top: 1rem;
        width: 55px;
    }
      
.mybiodata {
    margin-top: 8rem;
}
    .biodata {
        font-family: Averia Libre;
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
    line-height: 41px;
}
.my {
    font-family: Averia Libre;
    font-style: italic;
    font-weight: bold;
    font-size: 3rem;
    line-height: 57px;
    text-align: center;
    color: #FFAD4D;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}
.hello {
    font-style: normal;
    font-weight: bold;
    font-size: 2vw;
    line-height: 43px;
}
.desc {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
}
.personal {
    font-family: Averia Libre;
    font-style: italic;
    font-weight: bold;
    font-size: 3rem;
    line-height: 57px;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.kotak {
    font-family: Poppins;
    font-style: normal; 
    font-weight: 500;
    line-height: 30px;
    color: #373737;
}
.persegi {
    font-family: Poppins;
    font-style: normal; 
    font-weight: 500;
    line-height: 30px;
    color: #373737;
}
.bem {
    width: 13rem; height: 13rem; margin-right: 3rem;background-color: #FFF4D7;
}
.bemimg {
    width: 90px; 
    margin-top: 1rem;
}
.bemtxt{
    font-size: 1rem; margin-bottom: 1rem;
}
.compfest {
    width: 13rem; height: 13rem;background-color: #FFF4D7;
}
#compfestimg {
    width: 180px; margin-top: 4rem;
}
#compfesttxt{
    font-size: 1rem; margin-top: 3rem;margin-bottom: 1rem;
}
.vision {
    width: 13rem; height: 13rem; margin-right: 3rem; background-color: #FFF4D7;
}
#visionimg {
    width: 180px;margin-top: 3.5rem;
}
#visiontxt {
    font-size: 1rem;margin-top: 1rem;
}
.perak {
    width: 13rem; height: 13rem; background-color: #FFF4D7;
}
#perakimg {
    width: 180px; margin-top: 3.5rem;
}
#peraktxt {
    font-size: 1rem; margin-top: 1.5rem;margin-bottom: 1rem;
}
.pendidikan {
    margin-top:3rem
}
.sd {
    width: 13rem; height: 13rem; margin-top: 12rem;margin-bottom: 2rem; margin-right: 3rem;background: #FFEBEB;
}
#sdimg{
    width: 150px; height: 8rem;
}
.smp{
    width: 13rem; height: 13rem;margin-top: 8rem;margin-right: 3rem;background: #FFEBEB;
}
#smpimg{
    height: 7rem;margin-top: 1rem;
}
.sma {
    width: 13rem; height: 13rem;margin-top: 4rem;margin-right: 3rem;background: #FFEBEB;
}
#smaimg {
    height: 8rem;
}
.kuliah {
    width: 13rem; height: 13rem;background: #FFEBEB;
}
#kuliahimg {
    width:12rem;height: 8rem;
}
.kontak {
    font-size: 3rem;
    color: #FFAD4D;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.sosmed {
    margin-top: 2rem;
    font-size: 2rem;
    color: #5B5B5B;
    line-height: 35px;
} 
.logo {
    margin-top: 3rem;
}
#ig {
    width: 70px;margin-right: 3rem;
}
#linkedin {
    width: 80px;margin-right: 3rem;
}
#email {
    width: 90px;margin-right: 3rem;
}
#line {
    width: 95px;
}
.tombol {
    margin-top: 2rem; margin-bottom: 4rem;
}
.galeri {
    font-family: Averia Libre;
    font-style: italic;
    font-weight: bold;
    font-size: 3rem;
    line-height: 25px;
    margin-top: 2rem;
}
.carousel-multi-item-2 .col {
    float: left;
    padding-left: 1.2cm;
    width: 33.33%;
    max-width: 100%; } 

}
.poto {
    margin-top: 2rem;
}
.poto2 {
    margin-top: 2rem;
}

@media (min-width: 360px) and (max-width:800px) {
    .judul {
        font-family: Averia Libre;
        font-style: italic;
        font-weight: bold;
        font-size: 2rem;
        line-height: 20px;
        margin-top: 2rem;
    }
    .gambar {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-top: 0.5cm;
    }
    #foto {
        border-radius: 60%;
        width: 50%;
        width: 138px;
        height: 142.5px;
    }
    #panah {
    background: #FFBB6B;
    backdrop-filter: blur(4px);
    margin-top: 1rem;
    width: 30px;
}
.mybiodata {
    margin-top: 3rem;
}
.biodata {
    font-family: Averia Libre;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 41px;
}
.my {
    font-family: Averia Libre;
    font-style: italic;
    font-weight: bold;
    font-size: 2rem;
    line-height: 57px;
    text-align: center;
    color: #FFAD4D;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}
.hello {
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 43px;
}
.desc {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
}
.personal {
    font-family: Averia Libre;
    font-style: italic;
    font-weight: bold;
    font-size: 2rem;
    line-height: 40px;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.kotak {
    font-family: Poppins;
    font-style: normal; 
    font-weight: 500;
    line-height: 30px;
    color: #373737;
}
.bem {
    width: 13rem; height: 13rem;background-color: #FFF4D7;
}
.bemimg {
    width: 90px; 
    margin-top: 1rem;
}
.bemtxt{
    font-size: 1rem; margin-bottom: 1rem;
}
.compfest {
    width: 13rem; height: 13rem;margin-top:2rem;background-color:  #FFF4D7;
}
#compfestimg {
    width: 180px; margin-top: 4rem;
}
#compfesttxt{
    font-size: 1rem; margin-top: 3rem;margin-bottom: 1rem;
}
.vision {
    width: 13rem; height: 13rem; background-color: #FFF4D7;
}
#visionimg {
    width: 180px;margin-top: 3.5rem;
}
#visiontxt {
    font-size: 1rem;margin-top: 1rem;
}
.perak {
    width: 13rem; height: 13rem;margin-top:2rem; background-color: #FFF4D7;
}
#perakimg {
    width: 180px; margin-top: 3.5rem;
}
#peraktxt {
    font-size: 1rem; margin-top: 2.5rem;margin-bottom: 1rem;
}
.pendidikan {
    margin-top:2rem
}
.sd {
    width: 13rem; height: 13rem;background: #FFEBEB;
}
#sdimg{
    width: 150px; height: 8rem;
}
.smp{
    width: 13rem; height: 13rem;margin-top:2rem;background-color: #FFEBEB;
}
#smpimg{
    height: 7rem;margin-top: 1rem;
}
.sma {
    width: 13rem; height: 13rem;margin-top:2rem;background: #FFEBEB;
}
#smaimg {
    height: 8rem;
}
.kuliah {
    width: 13rem; height: 13rem;margin-top:2rem;background: #FFEBEB;
}
#kuliahimg {
    width:12rem;height: 8rem;
}

.persegi {
    font-family: Poppins;
    font-style: normal; 
    font-weight: 500;
    line-height: 30px;
    color: #373737;
}
.kontak {
    font-size: 2rem;
    color: #FFAD4D;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.sosmed {
    margin-top: 1rem;
    font-size: 1rem;
    color: #5B5B5B;
    line-height: 25px;
     }
.logo {
    margin-top: 1rem;
    }
#ig {
    width: 35px;margin-right: 1rem;
    }
#linkedin {
    width: 40px;margin-right: 1rem;
    }
#email {
    width: 45px;margin-right: 1rem;
    }
#line {
    width: 47.5px;
    }
.tombol {
    margin-top: 2rem; margin-bottom: 2rem;
    }
    .galeri {
        font-family: Averia Libre;
        font-style: italic;
        font-weight: bold;
        font-size: 1rem;
        line-height: 20px;
        margin-top: 1rem;
    }
    .poto {
        margin-top: 1rem;
    }
    .poto2 {
        margin-top: 1rem;
    }
    .carousel-multi-item-2 .col {
        padding-left: 1.2cm;
    
}